/* styles.css */
.jello:hover {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #03e6ff;
    animation: jello-vertical 0.9s both;
  }
  
  @keyframes jello-vertical {
    0% {
      transform: scale(1, 1);
    }
    30% {
      transform: scale(0.75, 1.25);
    }
    40% {
      transform: scale(1.25, 0.75);
    }
    50% {
      transform: scale(0.85, 1.15);
    }
    65% {
      transform: scale(1.05, 0.95);
    }
    75% {
      transform: scale(0.95, 1.05);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  